<?xml version="1.0" encoding="utf-8"?>
<DataType Key="217ea1ac-1eb0-456a-b369-3ae46d7d9550" Alias="Content Page - Content Picker - Content Picker" Level="1">
  <Info>
    <Name>Content Page - Content Picker - Content Picker</Name>
    <EditorAlias>Umbraco.ContentPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ShowOpenButton": false,
  "StartNodeId": null,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>