<?xml version="1.0" encoding="utf-8"?>
<DataType Key="da7b1ecf-1598-4d36-b533-a343979ff69b" Alias="Main Navigation - MegaNav V8 - MeganavV8" Level="1">
  <Info>
    <Name>Main Navigation - MegaNav V8 - MeganavV8</Name>
    <EditorAlias>Our.Umbraco.MeganavV8</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxDepth": 0,
  "RemoveNaviHideItems": false
}]]></Config>
</DataType>