<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7ecfcf73-9da9-43cc-9997-59ff77367d03" Alias="Main Navigation - MegaNav V8 - MeganavV8 (1)" Level="1">
  <Info>
    <Name>Main Navigation - MegaNav V8 - MeganavV8 (1)</Name>
    <EditorAlias>AaronSadler.MegaNavV8</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxDepth": 0,
  "RemoveNaviHideItems": true
}]]></Config>
</DataType>