<?xml version="1.0" encoding="utf-8"?>
<DataType Key="de3cf788-a992-4839-b721-f0b45c213f6c" Alias="Main Navigation - Mega Nav - Meganav" Level="1">
  <Info>
    <Name>Main Navigation - Mega Nav - Meganav</Name>
    <EditorAlias>Our.Umbraco.Meganav</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxDepth": 0,
  "RemoveNaviHideItems": false
}]]></Config>
</DataType>