<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0a30585f-a2ee-447f-8c58-6644dc3087b4" Alias="Main Navigation - MegaNav V8 - MeganavV8" Level="1">
  <Info>
    <Name>Main Navigation - MegaNav V8 - MeganavV8</Name>
    <EditorAlias>Our.Umbraco.MeganavV8</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxDepth": 0,
  "RemoveNaviHideItems": true
}]]></Config>
</DataType>