<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bddce8c4-326d-44db-8589-6f1f0e3f3e3c" Alias="MegaNav - Menu - MeganavV8" Level="1">
  <Info>
    <Name>MegaNav - Menu - MeganavV8</Name>
    <EditorAlias>AaronSadler.MegaNavV8</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxDepth": 0,
  "RemoveNaviHideItems": true
}]]></Config>
</DataType>