<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="007e2c1c-b7ec-4fd9-a4be-8274d447b59b" Alias="contentPage" Level="1">
  <Info>
    <Name>Content Page</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="bc0fe5b3-3625-4204-86cd-4465799ee4f1">contentBase</Composition>
      <Composition Key="de8709d5-9d39-4303-a88b-5083031eebba">navigationBase</Composition>
    </Compositions>
    <DefaultTemplate>contentPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="660fcd1e-f97f-4930-a4c5-cdeebd30d4e6">contentPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="007e2c1c-b7ec-4fd9-a4be-8274d447b59b" SortOrder="0">contentPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>