<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="865ebd2f-48a5-497a-b742-8575d4942e44" Alias="contact" Level="1">
  <Info>
    <Name>Contact</Name>
    <Icon>icon-map-location color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="a81e5dd7-5f47-4141-8c75-bae649813c90">navigationBase</Composition>
    </Compositions>
    <DefaultTemplate>contact</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="1bb14614-7b28-4ff3-afd1-7d3ee8401859">contact</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>44acce73-9dd6-4f18-a2f3-2d0999af773b</Key>
      <Name>Pick a Contact Form</Name>
      <Alias>contactForm</Alias>
      <Definition>f0bc4bfb-b499-40d6-ba86-058885a5178c</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[If Umbraco Forms is installed you'll be able to select a form]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Form</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>79628009-5e57-4aee-9656-2f1e3817d7dc</Key>
      <Name>Contact Form Header</Name>
      <Alias>contactFormHeader</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Form</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>31249f0d-952f-41c3-b37e-8a89fa889d5c</Key>
      <Name>Contact Intro</Name>
      <Alias>contactIntro</Alias>
      <Definition>ecbbac0d-974e-490c-b533-fead926dc525</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Form</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>eb6da5b9-8b51-4834-9ed5-e2b2bee3080b</Key>
      <Name>Map Coordinates</Name>
      <Alias>mapCoordinates</Alias>
      <Definition>fc1475d2-7c7b-4b2f-bc53-54c86fd43d6c</Definition>
      <Type>Our.Umbraco.OsmMaps</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Map</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>7527d6c6-4a13-4a78-b5cc-66e4dad15adf</Key>
      <Name>Map Header</Name>
      <Alias>mapHeader</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Map</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>e8d3e685-953a-4739-abb2-07be66a5c861</Key>
      <Name>Page Title</Name>
      <Alias>pageTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The title of the page, this is also the first text in a google search result. The ideal length is between 40 and 60 characters]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Form</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Form</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Map</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>