<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0a2d40c4-8299-451b-ad81-9535bc77e99c" Alias="contentPage" Level="1">
  <Info>
    <Name>Content Page</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="3abbcdc2-f6bb-47ea-a5a6-35fdf1b3ef46">contentBase</Composition>
      <Composition Key="7b77f605-7fa3-4a0e-b056-791b64f550a6">navigationBase</Composition>
    </Compositions>
    <DefaultTemplate>contentPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="fa0feea0-81a4-4450-b8dc-692f3a0bcad5">contentPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="0a2d40c4-8299-451b-ad81-9535bc77e99c" SortOrder="0">contentPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>