<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ddfa0fa0-bf7a-4ea1-a122-7abff9e01703" Alias="contentPage" Level="1">
  <Info>
    <Name>Content Page</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="db1ad3e9-a405-44a5-8f2e-c2cad3542686">contentBase</Composition>
      <Composition Key="a81e5dd7-5f47-4141-8c75-bae649813c90">navigationBase</Composition>
    </Compositions>
    <DefaultTemplate>contentPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="bf8c093e-078a-47bc-943f-69685d0b9c6a">contentPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="ddfa0fa0-bf7a-4ea1-a122-7abff9e01703" SortOrder="0">contentPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>