<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="08496448-87c7-4047-8bf0-dc86df04669f" Alias="home" Level="1">
  <Info>
    <Name>Home</Name>
    <Icon>icon-home color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate>home</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="16fc1e99-98af-4418-b631-7ada47b86030">home</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="d9d57447-6b99-45a6-ae63-b7515cbaefa7" SortOrder="0">blog</ContentType>
    <ContentType Key="7706e854-3403-426c-ac7a-9d389d4c513e" SortOrder="1">contact</ContentType>
    <ContentType Key="007e2c1c-b7ec-4fd9-a4be-8274d447b59b" SortOrder="2">contentPage</ContentType>
    <ContentType Key="96d66672-f1ae-4537-b0a5-4b8ef1e0d090" SortOrder="3">people</ContentType>
    <ContentType Key="cb063892-0109-4d01-a1b6-d899906d0c20" SortOrder="4">products</ContentType>
    <ContentType Key="240bfc9d-66d1-415a-b517-bc3c77fb9855" SortOrder="5">mainNavigation</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>488e88f4-6980-4861-8fe2-4c4ccb154010</Key>
      <Name>Content</Name>
      <Alias>bodyText</Alias>
      <Definition>34a7f8f5-a84e-439b-9322-466ff7ed8866</Definition>
      <Type>Umbraco.Grid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>684b7857-6d4a-4ec9-ad09-0af2a7c66180</Key>
      <Name>Color Theme</Name>
      <Alias>colorTheme</Alias>
      <Definition>71548df5-836c-41f8-96ac-5b98fe5e2e19</Definition>
      <Type>Umbraco.RadioButtonList</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Design</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>94d98a81-574a-44ce-a066-d1f26fe28a48</Key>
      <Name>Font</Name>
      <Alias>font</Alias>
      <Definition>fff3c360-3f90-45b3-a554-e29ca72cdce4</Definition>
      <Type>Umbraco.RadioButtonList</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Design</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>64ce61d4-c692-4eda-b5a9-83bd45e32957</Key>
      <Name>Address</Name>
      <Alias>footerAddress</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Footer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>879c2a37-c48e-476a-85ef-2f1ed4639a0b</Key>
      <Name>Call To Action Caption</Name>
      <Alias>footerCTACaption</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Caption on the Call To Action Button]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Footer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>9c25e49d-377f-4972-9a2a-9e68f940c2ce</Key>
      <Name>Call To Action Link</Name>
      <Alias>FooterCtalink</Alias>
      <Definition>3ece86aa-61ad-45d5-b1dd-8f02f25df949</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Footer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>fe149bcd-8786-4d21-bee5-fd3bc326bc5c</Key>
      <Name>Description</Name>
      <Alias>footerDescription</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Footer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>df2f1690-ee82-4583-94cc-db5dc2f54599</Key>
      <Name>Header</Name>
      <Alias>footerHeader</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Footer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>03bd24f4-450e-4f5d-b3ed-80136507ecc3</Key>
      <Name>Hero Background</Name>
      <Alias>HeroBackgroundImage</Alias>
      <Definition>135d60e0-64d9-49ed-ab08-893c9ba44ae5</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Spice up the homepage by adding a beautiful photo that relates to your business]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Design</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>0569da23-59a5-4e19-9ef2-19c67856dcb6</Key>
      <Name>Call To Action Caption</Name>
      <Alias>heroCTACaption</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The caption on the button]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Hero</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>ff2637e4-dd47-459f-8e66-43b33b4361e4</Key>
      <Name>Call To Action Link</Name>
      <Alias>HeroCtalink</Alias>
      <Definition>3ece86aa-61ad-45d5-b1dd-8f02f25df949</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Hero</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>bf7725bf-a70c-4243-b79d-8c01acc9bea2</Key>
      <Name>Description</Name>
      <Alias>heroDescription</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Hero</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>45fa7b1b-d9d2-4e9d-9230-16403adece3d</Key>
      <Name>Header</Name>
      <Alias>heroHeader</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This is the main headline for the hero area on the Homepage]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Hero</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>62345098-1dfb-40d1-a6a6-0eb2e2a03a2f</Key>
      <Name>Logo</Name>
      <Alias>SiteLogo</Alias>
      <Definition>135d60e0-64d9-49ed-ab08-893c9ba44ae5</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Optional. If you add a logo it'll be used in the upper left corner instead of the site name. Make sure to use a transparent logo for best results]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Design</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>025eb995-8cbf-4502-8fc6-af931c36ff9f</Key>
      <Name>Sitename</Name>
      <Alias>sitename</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Used on the homepage as well as the title and social cards]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Design</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Hero</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Caption>Footer</Caption>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Caption>Design</Caption>
      <SortOrder>3</SortOrder>
    </Tab>
  </Tabs>
</ContentType>