<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="240bfc9d-66d1-415a-b517-bc3c77fb9855" Alias="mainNavigation" Level="1">
  <Info>
    <Name>Main Navigation</Name>
    <Icon>icon-sitemap color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>3c124917-fe41-40a3-90f5-fc8141fb5ee8</Key>
      <Name>MegaNav V8</Name>
      <Alias>megaNavV8</Alias>
      <Definition>0a30585f-a2ee-447f-8c58-6644dc3087b4</Definition>
      <Type>Our.Umbraco.MeganavV8</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Main Navigation</Tab>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Main Navigation</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>