<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5fcb8168-2dc6-4689-9f15-720c784d334d" Alias="mainNavigation" Level="1">
  <Info>
    <Name>Main Navigation</Name>
    <Icon>icon-sitemap color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>b1e60975-b486-43ad-8048-102182489f08</Key>
      <Name>Mega Nav</Name>
      <Alias>megaNav</Alias>
      <Definition>de3cf788-a992-4839-b721-f0b45c213f6c</Definition>
      <Type>Our.Umbraco.Meganav</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Main Navigation</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Main Navigation</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>