<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5fcb8168-2dc6-4689-9f15-720c784d334d" Alias="mainNavigation" Level="1">
  <Info>
    <Name>Main Navigation</Name>
    <Icon>icon-sitemap color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>67ac75bf-5cc6-444a-9885-7f488cbd5c12</Key>
      <Name>MegaNav V8</Name>
      <Alias>megaNavV8</Alias>
      <Definition>da7b1ecf-1598-4d36-b533-a343979ff69b</Definition>
      <Type>Our.Umbraco.MeganavV8</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Main Navigation</Tab>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <Variations>Culture</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Main Navigation</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>