<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="438e5ade-9896-4c37-81e4-f1422a03b07e" Alias="megaNav" Level="1">
  <Info>
    <Name>MegaNav</Name>
    <Icon>icon-sitemap color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>4756ae61-56f9-49dc-a106-14d2ac7223c7</Key>
      <Name>Menu</Name>
      <Alias>menu</Alias>
      <Definition>bddce8c4-326d-44db-8589-6f1f0e3f3e3c</Definition>
      <Type>AaronSadler.MegaNavV8</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>MegaNav</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>MegaNav</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>