<?xml version="1.0" encoding="utf-8"?>
<DataType Key="75749b5e-efdf-4872-82a1-b721dbbf0a34" Alias="MegaNavV8 - mn8 - MeganavV8" Level="1">
  <Info>
    <Name>MegaNavV8 - mn8 - MeganavV8</Name>
    <EditorAlias>AaronSadler.MegaNavV8</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxDepth": 0,
  "RemoveNaviHideItems": false
}]]></Config>
</DataType>