<?xml version="1.0" encoding="utf-8"?>
<Content Key="0c6be100-7172-4a66-b7ef-58735c7a3f87" Alias="Main Navigation 2" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home/MainNavigation2</Path>
    <Trashed Parent="ca4249ed-2b23-4337-b522-63cabe5587d1">true</Trashed>
    <ContentType>mainNavigation</ContentType>
    <CreateDate>2020-10-01T19:29:55</CreateDate>
    <NodeName Default="Main Navigation 2">
      <Name Culture="en-us">Main Navigation 2</Name>
      <Name Culture="en-gb">Main Navigation 2 GB</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-gb">true</Published>
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <megaNavV8>
      <Value><![CDATA[]]></Value>
    </megaNavV8>
  </Properties>
</Content>