<?xml version="1.0" encoding="utf-8"?>
<Content Key="007d8a89-7e76-464d-ab61-ba62213bd9fb" Alias="Main Navigation" Level="2">
  <Info>
    <Parent Key="ca4249ed-2b23-4337-b522-63cabe5587d1">Home</Parent>
    <Path>/Home/MainNavigation</Path>
    <Trashed>false</Trashed>
    <ContentType>megaNav</ContentType>
    <CreateDate>2021-01-21T18:54:41</CreateDate>
    <NodeName Default="Main Navigation">
      <Name Culture="en-us">Main Navigation</Name>
      <Name Culture="en-gb">Main Menu</Name>
    </NodeName>
    <SortOrder>5</SortOrder>
    <Published Default="true">
      <Published Culture="en-gb">true</Published>
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <menu>
      <Value Culture="en-us"><![CDATA[[
  {
    "id": 1120,
    "udi": "umb://document/3cce2545e3ac44ecbf55a52cc5965db3",
    "name": "About Us 2",
    "description": "/us/about-us/",
    "url": "/uk/about-us-2/",
    "children": [],
    "icon": "icon-document",
    "published": true,
    "naviHide": false,
    "culture": "en-GB"
  },
  {
    "description": "https://bing.com",
    "title": "Bing",
    "url": "https://bing.com",
    "children": [],
    "icon": "icon-link"
  }
]]]></Value>
      <Value Culture="en-gb"><![CDATA[[
  {
    "id": 1120,
    "udi": "umb://document/3cce2545e3ac44ecbf55a52cc5965db3",
    "name": "About Us 2",
    "description": "/uk/about-us-2/",
    "url": "/uk/about-us-2/",
    "children": [],
    "icon": "icon-document",
    "published": true,
    "naviHide": false,
    "culture": "en-GB"
  },
  {
    "description": "https://www.google.com",
    "title": "Google",
    "url": "https://www.google.com",
    "children": [],
    "icon": "icon-link"
  }
]]]></Value>
    </menu>
  </Properties>
</Content>