<?xml version="1.0" encoding="utf-8"?>
<Content Key="99e400f0-f2c5-49b7-86ed-36138388f14e" Alias="Test Menu" Level="2">
  <Info>
    <Parent Key="ca4249ed-2b23-4337-b522-63cabe5587d1">Home</Parent>
    <Path>/Home/TestMenu</Path>
    <Trashed>false</Trashed>
    <ContentType>mainNavigation</ContentType>
    <CreateDate>2021-01-11T20:21:12</CreateDate>
    <NodeName Default="Test Menu">
      <Name Culture="en-us">Test Menu</Name>
      <Name Culture="en-gb">Test Menu</Name>
    </NodeName>
    <SortOrder>6</SortOrder>
    <Published Default="true">
      <Published Culture="en-gb">true</Published>
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <megaNavV8>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="en-gb"><![CDATA[[
  {
    "id": 1123,
    "udi": "umb://document/1d770f10d1ca4a269d68071e2c9f7ac1",
    "name": "Blog",
    "description": "/en/blog/",
    "url": "/en/blog/",
    "children": [],
    "icon": "icon-calendar-alt color-black",
    "published": true,
    "naviHide": false,
    "culture": "en-GB"
  }
]]]></Value>
    </megaNavV8>
  </Properties>
</Content>