<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ac570f73-1ea8-4189-ad41-570221a76fde" Alias="megaNavV8" Level="1">
  <Info>
    <Name>MegaNavV8</Name>
    <Icon>icon-sitemap color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>42de2ab2-999d-409a-8e50-50e6dd8ef446</Key>
      <Name>mn8</Name>
      <Alias>mn8</Alias>
      <Definition>75749b5e-efdf-4872-82a1-b721dbbf0a34</Definition>
      <Type>AaronSadler.MegaNavV8</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>MegaNavV8</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>MegaNavV8</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>