<div ng-controller="Our.Umbraco.MeganavV8.MeganavController" class="meganav-editor">

    <ng-form name="meganavEditorForm">

        <!-- meganav sortable tree -->
        <div ui-tree data-max-depth="{{model.config.maxDepth}}">

            <ol ui-tree-nodes ng-model="items">

                <li ng-repeat="item in items" ui-tree-node ng-include="'nav_item_template.html'"></li>

            </ol>

        </div>

        <!-- add nav items -->
        <a href="" class="umb-node-preview-add" ng-click="add()" prevent-default>
            <localize key="general_add">Add</localize>
        </a>

    </ng-form>

    <!-- repeatable nav item template -->
    <script type="text/ng-template" id="nav_item_template.html">

        <div ui-tree-handle class="meganav-item"
             ng-class="{'meganav-item--unpublished': item.published === false, 'meganav-item--navihide': isVisible(item) === false}">

            <umb-node-preview icon="item.icon"
                              name="item.title || item.name"
                              published="item.published"
                              description="item.url"
                              allow-edit="true"
                              allow-remove="true"
                              on-edit="edit(item)"
                              on-remove="remove(item)">
            </umb-node-preview>

        </div>

        <ol ui-tree-nodes ng-model="item.children">

            <li ng-repeat="item in item.children" ui-tree-node ng-include="'nav_item_template.html'"></li>

        </ol>

    </script>

</div>